* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header, footer {
    background-color: #ebebeb;
    height: 70px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
}
header {
    border-bottom: 0.5px solid #ccc;
}
main {
    position: sticky;
    padding: 20px;
}
footer {
    margin-top: auto;
    border-top: 0.5px solid #ccc;
}

